@model string
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
<form asp-action="formsubmit" method="post">
    <input type="text" name="name" />
    <button type="submit" value="ok">ok</button>
</form>

